.lp-body {
  // background: url("src/assets/lpbackground.jpg");
  // object-fit: cover;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.lp-navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4rem 0 4rem;

  .lp-logo {
    width: 10rem;
    padding: 1rem 0;
  }

  .lp-button {
    background-color: #107ec1;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5rem;

    &:hover {
      background-color: #95b7e6;
    }
  }
}

.lp-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5rem;

  .lp-intro {
    font-weight: bolder;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .lp-subintro {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    width: 50rem;
  }
}

.lp-hero {
  width: 90rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1605px)  {
  .lp-hero {
    width: 70rem;
  }
}
